@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'texte';
 
   src: url(../fonts/HelveticaNeueMedium.otf);
 }
 
 @font-face {
   font-family: 'titre';
 
   src: url(../fonts/Arvo-Regular.ttf);
 }

 h2 {
   position: relative;

}

h2::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 10rem;
    position: absolute;
    left: 50%;
    top: 100%;
    background-color: red;
    transform: translateX(-50%);

}
/* h2:nth-of-type(2)::after {
    width: 20%;
} */



